doctype html
html
  head
    title Faq
    meta(charset='utf-8')
    link(rel='stylesheet' href='/css/style.css')
    body
      h1 Address-de-Color
      h2 Faq
      nav
        ul
          li: a(href='/') Home
          li: a(href='/about') About
          li: a(href='/contact') Contact
          li: a(href='/faq') Faq
          li: a(href='/people') People

